{% extends "base.html" %}

{% block title %}
Категории блюд
{% endblock %}

{% block content %}


<ul>
    {% for item in object_list %}
    <li>
  <h5>
        <a href="{% url 'cookbook:category_detail' pk=item.pk %}">
            {{item.name}}
        </a>
  </h5>


        <a href="{% url 'cookbook:ingredient_update' pk=item.pk %}">
            Изменить
        </a>
        |

        <a href="{% url 'cookbook:ingredient_delete' pk=item.pk %}">
            Удалить
        </a>

    </li>
    {% endfor %}


</ul>

<!-- Pager -->

        <div class="clearfix">
            <div class="pagination">

            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
                {% endif %}

                <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Вперед</a>




                {% endif %}


            </span>
            </div>
        </div>
{% endblock %}