{% extends "base.html" %}

{% block title %}
Рецептура
{% endblock %}

{% block content %}
<div class="row">
    <h1>{{name}}</h1>
    <div class="col-lg-8 col-md-10 mx-auto">

      <form method="post">
    <table>
        {% csrf_token %}
        {{ formset }}

    </table>

          <button type="submit" class="btn btn-secondary">Добавить</button>
           <a class="btn btn-secondary"
                      href="{% url 'cookbook:index' %}" >Закончить</a>


</form>


    </div>
</div>
{% endblock %}